export(bfp)
exportClasses(CustomGPrior)
exportClasses(HypergPrior)
exportClasses(InvGammaGPrior)
export(computeModels)
export(convert2Mcmc)
export(CustomGPrior)
export(empiricalHpd)
export(evalZdensity)
export(getMarginalZ)
export(glmBayesMfp)
export(HypergPrior)
export(inclusionProbs)
export(InvGammaGPrior)
export(logMargLiks)
export(logPriors)
export(McmcOptions)
exportMethods("[")
export(plotCurveEstimate)
export(posteriors)
export(sampleBma)
export(sampleGlm)
export(sampleSize)
export(scrHpd)
export(uc)
importFrom(coda,mcmc)
importFrom(graphics,hist)
importFrom(graphics,plot)
importFrom(methods,initialize)
importFrom(methods,new)
importFrom(methods,prototype)
importFrom(methods,representation)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setOldClass)
importFrom(methods,signature)
importFrom(Runuran,pinv.new)
importFrom(Runuran,unuran.details)
importFrom(Runuran,"unuran.packed<-")
importFrom(Runuran,ur)
S3method(as.data.frame,GlmBayesMfp)
S3method("[",GlmBayesMfp)
S3method(print,GlmBayesMfp)
useDynLib(glmBfp,cpp_glmBayesMfp,cpp_bfgs,cpp_optimize,cpp_sampleGlm,cpp_evalZdensity)
