export(computeModels)
export(evalZdensity)
export(bfp)
export(uc)
export(getMarginalZ)
S3method("[", GlmBayesMfp)
S3method(print, GlmBayesMfp)
S3method(as.data.frame, GlmBayesMfp)
export(glmBayesMfp)
exportMethods("[")
useDynLib(glmBfp, cpp_glmBayesMfp, cpp_bfgs, cpp_optimize, cpp_sampleGlm, cpp_evalZdensity)
importFrom(graphics, plot, hist)
importFrom(methods, setClass, setOldClass, setGeneric, setMethod, representation, signature, prototype, initialize, new)
importFrom(Runuran, pinv.new, ur, "unuran.packed<-", unuran.details)
exportClasses(HypergPrior)
export(HypergPrior)
exportClasses(InvGammaGPrior)
export(InvGammaGPrior)
exportClasses(CustomGPrior)
export(CustomGPrior)
export(empiricalHpd)
export(scrHpd)
export(inclusionProbs)
export(McmcOptions)
export(sampleSize)
importFrom(coda, mcmc)
export(convert2Mcmc)
export(plotCurveEstimate)
export(posteriors)
export(logMargLiks)
export(logPriors)
export(sampleBma)
export(sampleGlm)
